a {
color:#C8100E;
text-decoration:underline;
}

a:hover {
color:#555555;
text-decoration:none;
}

#header {
background-color:black;
}

#header h1 {
color:#C8100E;
}

#header h2 {
color:#C8100E;
}

#leftColumn p {
background-color:black;
color:#C8100E;
}

#dataColumn blockquote {
background-color:black;
color:#C8100E;	
}