a {
color:#2AA6C3;
text-decoration:underline;
}

a:hover {
color:#A20139;
text-decoration:none;
}

#header {
background-color:#2AA6C3;
}

#header h1 {
color:white;
}

#header h2 {
color:white;
}

#leftColumn p {
background-color:#2AA6C3;
color:white;
}

#dataColumn blockquote {
background-color:#2AA6C3;
color:white;	
}

#centerColumn h2 {
color:#2AA6C3;
}

#imgLeft {
	width:320px; 
	float: left; 
	margin-left:100px
}

#imgRight {
	width:320px; 
	float: right; 
	margin-right:100px;
}
